# Public URL
NEXT_PUBLIC_URL=http://localhost:3000
# DataBase
DATABASE_URL=postgresql://postgres:password@localhost:5432/test
# Better Auth
BETTER_AUTH_SECRET=secret
# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
